.img-container{
    width: 70px;

    img{
    width:100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    }
}

footer{
    background-color: rgb(50, 39, 56);

}