<!-- Footer -->
<footer class="page-footer font-small pink darken-4 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

              <a class="fb-ic" target="_blank" rel="noopener noreferrer" href="mailto:no.steiner@gmail.com">
                <mdb-icon icon="envelope" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
              </a>
            <!-- Slack -->
            <a class="fb-ic" target="_blank" rel="noopener noreferrer" href="https://wa.me/9720525599200">
              <mdb-icon icon="whatsapp" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
            </a>
            <!-- Github -->
            <a class="tw-ic" target="_blank" rel="noopener noreferrer" href="https://github.com/nosteiner">
                <mdb-icon icon="github" size="2x" class="white-text mr-md-3 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/noamsteiner/">
                <mdb-icon icon="linkedin" size="2x" class="white-text"></mdb-icon>
            </a>
            
          </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: NoamSteiner</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->