<mdb-navbar SideClass="navbar z-depth-0 fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
    [containerInside]="false">
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" [ngx-scroll-to]="'#aboutMe'">About</a>
            </li>
            <!-- <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" [ngx-scroll-to]="'#technologies'">Technologies</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" [ngx-scroll-to]="'#portfolio'">Portfolio</a>
                    </li> -->
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" [ngx-scroll-to]="'#contact'">Contact</a>
            </li>
        </ul>

        <div class="nav-item waves-light cv" mdbWavesEffect>
            <a class="nav-link" style="color:white" (click)="download()" href="{{link}}"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a>
        </div>

    </links>
</mdb-navbar>