<!-- Main -->
<header class="h-100">
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container text-center white-text">
                    <div class="intro white-text text-center animated bounceInLeft">
                        <h1>AHOY!</h1>
                        <h3>Welcome Abord</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>

<!--Main Layout-->

<div class="container">
    <div class="pt-3" id="aboutMe">
        <div class="row pt-5 ">
                <div class="col-md-4 pb-5 col flex-last center">
                        <img src="assets/myself.jpg">
                    </div>
            <div class="col-md-8 vertical-center">
                <p class="about" align="justify">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore
                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt
                    mollit anim id est laborum.</p>
            </div>
            
        </div>

        <div class="row" id="Technologies">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<!-- <button mat-fab color="warn" id="fixedbutton"><a href="tel:+972525599200"> <i class="fa fa-2x fa-phone white-text" aria-hidden="true"></i></a></button> -->

<!--Main Layout-->