.view {

    background: url("src/assets/boats.jpg") repeat center center;
 
    height: 100vh;
}

#fixedbutton {
    position: fixed;
    bottom: 40px;
    right: 40px; 
}

*{
    font-family: 'Megrim', cursive;
}
