    <!-- Main -->
    <header class="h-100">
    <div class="view">
      <div class="full-bg-img">
          <div class="mask rgba-black-light flex-center">
              <div class="container text-center white-text">
                  <div class="white-text text-center wow fadeInUp">
                      <h2>Lorem ipsum dolor sit amet</h2>
                                 
                      <h5>Ut enim ad minim veniam, quis nostrud exercitation</h5>
                      <br>
                      <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <p align="justify">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                  sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.</p>

          </div>
      </div>
  </div>
  <button mat-fab color="warn" id="fixedbutton"><a href="tel:+972525599200"> <i class="fa fa-2x fa-phone white-text" aria-hidden="true"></i></a></button>
</main>
<!--Main Layout-->