<!-- Main -->
<header class="h-100">
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container text-center white-text">
                    <div class="intro white-text text-center animated bounceInLeft">
                        <h1>AHOY!</h1>
                        <h3>Welcome Abord</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Main -->
</header>

<!--Main Layout-->
<div class="container">
    <div class="pt-3" id="aboutMe">
        <div class="row pt-5 pb-5">
            <div class="col-md-4 pb-5 pt-5 col flex-last center">
                <img src="assets/myself.jpg">
            </div>
            <div class="col-md-8 vertical-center">
                <div>
                    <h3>I'm Noam Steiner, a junior full Stack web developer.</h3>
                    <p class="about" align="justify">
                        I am currently developing mainly in Angular 6 but at the same time invests in learning
                        additional
                        technologies and frameworks. I currently work on a number of projects independently, so you can
                        see
                        my portfolio enriched all the time.
                        <br>
                        I would love to hear from you!</p>
                </div>
            </div>
        </div>

        <div class="row" id="Technologies">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<!-- <button mat-fab color="warn" id="fixedbutton"><a href="tel:+972525599200"> <i class="fa fa-2x fa-phone white-text" aria-hidden="true"></i></a></button> -->

<!--Main Layout-->