.view {
    background: url("src/assets/boats.jpg") repeat center center;
    height: 100vh;
}

img {
    border-radius: 50%;
   
    object-fit: cover;
   
}

.center{
     text-align: center;
}
// #fixedbutton {
//     position: fixed;
//     bottom: 40px;
//     right: 40px; 
// }

.intro{
    font-family: 'Megrim', cursive;
}
.about{
    font-family: 'Open Sans', sans-serif;
}
.vertical-center{
    display: flex;
    align-items: center;
}
