<div class="container">
<div class="row justify-content-md-center" *ngIf="emailSent == false">
    <!-- <div class="d-flex align-content-center flex-wrap col-md-6 mt-md-0 mt-3">
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin aliquam ante rutrum, iaculis purus iaculis, imperdiet erat. Suspendisse libero ante, faucibus in ex id, pharetra efficitur nisi. Pellentesque mattis mi velit, eu ultrices sem malesuada sed. Suspendisse laoreet magna tincidunt, imperdiet massa a, consectetur leo. Sed eleifend consectetur auctor. Nam varius rhoncus volutpat.</p>
    </div>
  
  <div class="col-md-6 mt-md-0 mt-3"> -->

  
  
<div class="col-md-6">
<!-- Default form contact -->
<form [formGroup]="messageEdit" class="text-center  p-5" >

  <p class="h1 mb-4">Talk to me</p>

  <!-- Name -->
 
  <input formControlName="name" type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
  
  <!-- Email -->
  <input formControlName="email" mdbInputDirective type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

<!-- Name -->
<input formControlName="title" type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Title">
  <!-- Message -->
  <div class="form-group">
    <textarea  formControlName="text" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="6" placeholder="Message"></textarea>
  </div>

  <!-- Send button -->
  <button (click)="sendMailHandler()" class="btn btn-info btn-block" type="button" [disabled]="!messageEdit.valid">Send</button>

</form>
<!-- Default form contact -->
<!-- </div> -->
</div>
</div>


<div class="emailSent" *ngIf="emailSent == true">
<h4 >Your message has been sent successfully We will contact you shortly</h4>
<h5><a routerLink=""> Return to home page</a></h5>
</div>
</div>