.emailSent{
    text-align: center;
    padding: 70px 0;
}

p{
    font-family: 'Caveat', cursive;
}
input{
    
    font-family: 'Open Sans', sans-serif;

}

input.ng-invalid.ng-touched {
    border: 2px solid #d89db7;
  }

  input.ng-valid{
    border: 2px solid #dfdcac;
  }
  
//   input:valid {
//     border: 2px solid #ddffdd;
//   }
  

 .sendAnotherOne:hover{
    text-shadow: 1px 1px black;
}

.container{
    position: relative;
}

.contact{
    margin: 3rem;
}


