<div class="container" id="contact">
  <div class="contact row justify-content-md-center" *ngIf="emailSent == false">

    <div class="col-md-6">
      <!-- Default form contact -->
      <form [formGroup]="messageEdit" class="text-center p-5">

        <p class="h1 mb-4">Talk to me</p>

        <!-- Name -->
        <input formControlName="name" type="text" id="formControl" class="form-control mb-4" placeholder="Name" required>

        <!-- Email -->
        <input formControlName="email" type="email" id="formControl" class="form-control mb-4" placeholder="E-mail"  required>

        <!-- Name -->
        <input formControlName="title" type="text" id="formControl" class="form-control mb-4" placeholder="Title" required>
        <!-- Message -->
        <div class="form-group">
          <textarea formControlName="text" class="form-control rounded-1" id="formControl" rows="6" placeholder="Message" required></textarea>
        </div>

        <!-- Send button -->
        <button mdbBtn color="unique" (click)="sendMailHandler()" class="btn btn-info btn-block" type="button"
          [disabled]="!messageEdit.valid">Send</button>

      </form>
      <!-- Default form contact -->
      <!-- </div> -->
    </div>
  </div>


  <div class="emailSent" *ngIf="emailSent == true">
    <span *ngIf="success == true">
      <h3>Your message was sent successfully </h3>
      <a class="sendAnotherOne pink-text h4" (click)="changeStatus(false)">Send another one!</a>
    </span>
    <span *ngIf="success == false">
      <h3>An error has occurred </h3>
      <a class="sendAnotherOne pink-text h4" (click)="changeStatus(false)">Try send another one</a>
      <p class="h4">Or, send an email to: <a href="mailto:no.steiner@gmail.com">no.steiner@gmail.com</a></p>
    </span>
  </div>
</div>