/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.top-nav-collapse a {
    color: black !important;
}

.top-nav-collapse {
    background-color: white;
}

.top-nav-collapse button .navbar-toggler-icon {
    // background-image: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png') !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
